.list-main {
    height: 100%;
    width: 100%;

    display: flex;
}

.list-notepad {
    height: 100%;
    width: 70%;
    background-image: url('../../assets/notepad.png');
    background-size: 74%;
    background-repeat: no-repeat;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
}

.list-title {
    height: 90%;
    width: 65.5%;
    margin: 1rem 3rem;

    display: flex;
    justify-content: center;
}

.list-filter {
    height: 100%;
    width: 30%;

    display: flex;
    align-items: center;
}