.main-page {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  position: relative;

  background-image: url('../../assets/Mesa-lukas-349609.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}


.main-frame {
  width: 80%;
  height: 80%;

  border: solid 1px var(--orange-100);
}

.inner-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: solid 2px var(--white-100);
}

.main-content {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/Mesa-lukas-349609.jpeg');
  background-size: 120%;
  background-position-x: -105px;
  background-position-y: -50px;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}