* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.golden-btn {
  border: none;
  border-radius: 5px;
  background-color: darkgoldenrod;
  color: white;
  font-family: Verdana;
  font-size: 18px;
  width: 200px;
  height: 40px;
  cursor: pointer;
}

.golden-btn:hover {
  opacity: 0.9;
}